<!DOCTYPE HTML>
<html>
	<head>
		<title>Brand Concept</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="static/images/favicon.ico">
		<!-- Include Bootstrap CSS -->
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Brand Concept</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="#banner">Home</a></li>
											<li><a href="#one">Nossa Missão</a></li>
											<li><a href="#two">Quem Somos</a></li>
											<li><a href="#three">O Que Fazemos</a></li>
											<li><a href="#four">Benefícios do Novo Conceito</a></li>
											<li><a href="#five">Propriedades de Marca no Mercado Imobiliário</a></li>
											<li><a href="#six">Residências de Marca no Setor Imobiliário</a></li>
											<li><a href="#seven">Projetos</a></li>
											<li><a href="#eight">Um Mercado em Crescimento</a></li>
											<li><a href="#nine">Projetos em Andamento</a></li>
											<li><a href="#ten">Nossa Equipe</a></li>
											<li><a href="#eleven">Entre em Contato</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<img src="static/images/logo.png" alt="Brand's Logo" width="30%">
<!--							<p>The New Concept of Lifestyle</p>-->
							<br>
						</div>
						<a href="#one" class="more scrolly">Saiba Mais</a>
					</section>

				<!-- Our Mission -->
					<section id="one" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Nossa Missão</h2>
								<h6>Arte de Diferenciar</h6>
								<br>
								<p>Brand Concept incorpora marcas icônicas de estilo de vida em projetos imobiliários. Nosso objetivo é criar uma história fascinante para o projeto e uma experiência empolgante para um novo conceito de estilo de vida</p>
								<p>Nosso portifólio oferece formatos residenciais e comercias de marcas de luxo para apartamentos, hotéis, resorts, vilas de luxo, complexos comerciais, co-living, spa e cidades inteligentes</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-lightbulb major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon solid fa-award major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon solid fa-earth-americas major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Who Are We -->
					<section id="two" class="wrapper style3">
						<section class="spotlight">
							<div class="image"><img src="static/images/pic01.jpg" alt="" /></div>
							<div class="content">
								<h2>Quem Somos</h2>
								<p>At Brand Concept, we believe that the fusion of iconic brands and real estate can create a unique lifestyle experience. Our goal is to craft captivating stories and exciting new concepts that inspire and delight our customers. Our portfolio offers a wide range of luxury residential and commercial formats, including apartments, hotels, resorts, villas, co-living spaces, spas, and smart cities.</p>
							</div>
						</section>
					</section>

				<!-- Brand Properties in the Current Real Estate Market -->
				<!-- What We Do -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>O QUE FAZEMOS</h2>
								<p>Cada projeto imobiliário é um mundo diferente e requer um trabalho expecifico e personalizado para ser bem sucedido</p>
							</header>
							<ul class="features">
								<li class="icon solid fa-edit">
									<h3>Consultoria de ajuste de Marca</h3>
									<p></p>
								</li>
								<li class="icon solid fa-cog">
									<h3>Verificão do conceito - projeto / constructor</h3>
									<p></p>
								</li>
								<li class="icon solid fa-eye">
									<h3>Correspondencia da visão da marca</h3>
									<p></p>
								</li>
								<li class="icon solid fa-gem">
									<h3>Acesso exclusivo a marcas e estilo de vida de luxo para novas  marcas imobiliárias</h3>
									<p></p>
								</li>
								<li class="icon fa-file-powerpoint">
									<h3>Preparação da apresentacão do projeto junto ao constructor e marcas</h3>
									<p></p>
								</li>
								<li class="icon solid fa-handshake">
									<h3>Negociações do contrato de licença</h3>
									<p></p>
								</li>
								<li class="icon solid fa-tasks">
									<h3>Apoio à execução do projeto</h3>
									<p></p>
								</li>
								<li class="icon solid fa-pencil-ruler">
									<h3>Consultoria em desenho do projeto</h3>
									<p></p>
								</li>
								<li class="icon solid fa-map-marker-alt">
									<h3>Análise de localização</h3>
									<p></p>
								</li>
								<li class="icon solid fa-money-bill-alt">
									<h3>Assessoria em financiamento de projetos</h3>
									<p></p>
								</li>
								<li class="icon solid fa-clipboard-check">
									<h3>Supervisão de projetos</h3>
									<p></p>
								</li>
								<li class="icon solid fa-bullhorn">
									<h3>Apoio de relações públicas de projetos</h3>
									<p></p>
								</li>
								<li class="icon solid fa-ad">
									<h3>Apoio de marketing de projetos</h3>
									<p></p>
								</li>
								<li class="icon fa-building">
									<h3>Desenvolvimento de projetos</h3>
									<p></p>
								</li>
							</ul>
						</div>
					</section>

					<!--What This New Concept Offers Section-->
					<section id="four" class="wrapper alt style3">
						<section class="spotlight">
							<section class="offers-section">
								<h2>What this new concept offers</h2>
								<ul>
									<li><i class="fas fa-bolt"></i> Speed in Sales</li>
									<li><i class="fas fa-money-bill-wave"></i> Advertising Savings</li>
									<li><i class="fas fa-award"></i> Project Recognition</li>
									<li><i class="fas fa-bullhorn"></i> Substantial Marketing Advantage</li>
									<li><i class="fas fa-hand-holding-usd"></i> Potential Broker Fee Savings</li>
									<li><i class="fas fa-palette"></i> Access to Exclusive Brand Design</li>
									<li><i class="fas fa-chart-line"></i> Substantial Increase in Sales Value up to 120%</li>
									<li><i class="fas fa-laptop"></i> Access to the Latest Brand Technological Know-How</li>
									<li><i class="fas fa-users"></i> Access to Brand Customers (part of license contract)</li>
									<li><i class="fas fa-truck-moving"></i> Advantage of Project Financing through Brand Trust Transfer</li>
									<li><i class="fas fa-handshake"></i> Increased Interest from Local Authorities in Brand Properties (Faster Project Approvals and Access to Land)</li>
								</ul>
							</section>
						</section>
					</section>


					<section class="wrapper alt style2">
						<section id="five" class="spotlight">
							<div class="image"><img src="static/images/pic02.jpg" alt="" /></div>
							<div class="content">
								<h2>PROPRIEDADES DE MARCA NO MERCADO IMOBILIÁRIO ATUAL</h2>
								<p>O mercado imobiliário global mudou significativamente. Espaços de trabalho integrados e vivos. Isso cria uma oportunidade nunca antes vista para as marcas de luxo criando estilo de vida que esta encantando e entrando no mercado imobiliário gerando uma sincronicidade entre as marcas e os consumidores. Os consumidores estão preferindo ainda que por valores significativos propriedades de marca que valorizam design, sustentabilidade e qualidade. As Marcas, construtores e consumidores se beneficiam muito desse modelo de negócios bem-sucedido e em rápido crescimento</p>
							</div>
						</section>
						<section id="six" class="spotlight">
							<div class="image"><img src="static/images/pic03.jpg" alt="" /></div>
							<div class="content">
								<h2>As residências de marca, como setor imobiliário, provaram ser incrivel</h2>
								<p>
									O setor não apenas sobreviveu ao distúrbio, mas continua a prosperar. Nos últimos dez anos, o setor cresceu mais de 150% e o pipeline de futuras residências de marca continua forte com projetos futuros definidos para dobrar as ofertas de fornecimento atuais nos próximos 5 anos.
									<br>
									A distribuição global de residências de marca também continua a se expandir, com marcas procurando novos locais para aumentar seus portfólios.
								</p>
							</div>
						</section>


						<!-- Projects -->
						<section id="seven" class="spotlight">
							<div class="container">
							<h2 class="section-title">Projetos</h2>
								<div id="myCarousel2" class="carousel slide" data-ride="carousel">
								  <!-- Indicators -->
								  <ol class="carousel-indicators">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								    <li data-target="#myCarousel2" data-slide-to="3"></li>
								  	<li data-target="#myCarousel2" data-slide-to="4"></li>
								  </ol>

								  <!-- Slides -->
								  <div class="carousel-inner">
									<div class="carousel-item active">
									  <div class="row">
										  <div class="card-container">
											  <div class="card1">
												  <img src="static/images/diesel1.png" alt="Diesel 1" class="d-block img1">
												  <img src="static/images/diesel2.png" alt="Diesel 2" class="d-block img2">
												  <h5>DIESEL WYNWOOD</h5>
												  <img src="static/images/diesel3.png" alt="Diesel 3" class="d-block img3">
												</div>
										  </div>
									  </div>
									</div>
									<div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card2">
											  <h5>URBAN OASIS BY MISSONI HOME</h5>
											  <img src="static/images/oasis1.png" alt="Oasis 1" class="d-block img1">
											  <img src="static/images/oasis2.png" alt="Oasis 2" class="d-block img2">
											  <img src="static/images/oasis3.png" alt="Oasis 3" class="d-block img3">
											</div>
									  </div>
									</div>
									</div>
								    <div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card3">
											  <img src="static/images/porsche2.png" alt="Porsche 2" class="d-block img2">
											  <img src="static/images/porsche1.jpeg" alt="Porsche 1" class="d-block img1">
											  <img src="static/images/porsche3.png" alt="Porsche 3" class="d-block img3">
											  <h5>PORSCHE DESIGN TOWER MIAMI</h5>
											</div>
									  </div>
									</div>
									</div>
								    <div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card4">
											  <img src="static/images/bentley1.png" alt="Bentley 1" class="d-block img1">
											  <img src="static/images/bentley2.png" alt="Bentley 2" class="d-block img2">
											  <h5>BENTLEY RESIDENCES</h5>
											  <img src="static/images/bentley3.png" alt="Bentley 3" class="d-block img3">
											</div>
									  </div>
									</div>
									</div>
								  	<div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card5">
											  <img src="static/images/fendi1.png" alt="Fendi 1" class="d-block img1">
											  <h5>FENDI CHATEAU RESIDENCES</h5>
											  <img src="static/images/fendi3.png" alt="Fendi 3" class="d-block img3">
											  <img src="static/images/fendi2.png" alt="Fendi 2" class="d-block img2">
											</div>
									  </div>
									</div>
									</div>
									<!-- Add more carousel-items as needed -->
								  </div>

								  <!-- Navigation Arrows -->
								  <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								  </a>
								  <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								  </a>
								</div>
							</div>
						</section>


						<!--Branded Property – A Growing Market-->
						<section id="eight" class="spotlight">
							<div class="container">
							<h2 class="section-title">Branded Property – A Growing Market</h2>
							  <div class="row">
								<div class="column">
								  <img src="static/images/building1.png" alt="Image 1">
								  <img src="static/images/building2.png" alt="Image 2">
								</div>
								<div class="column">
								  <img src="static/images/building3.png" alt="Image 3">
								  <img src="static/images/building4.png" alt="Image 4">
								</div>
								<div class="column">
								  <img src="static/images/building5.png" alt="Image 5">
								  <img src="static/images/building6.png" alt="Image 6">
								</div>
							  </div>
							</div>
						</section>


						<!--Ongoing Projects-->
						<section id="nine" class="spotlight">
						  <div class="container ongoing-projects">
							<h2>Ongoing Projects</h2>
							<div class="map-container">
								<img src="static/images/world-map.png" alt="World Map">
								<span class="location location1"><strong>New York</strong>-USA</span>
								<span class="location location2"><strong>Miami</strong>-USA</span>
								<span class="location location3"><strong>Berlin</strong>-Germany</span>
								<span class="location location4"><strong>Riyadh</strong>-Saudi Arabia</span>
								<span class="location location5"><strong>Dubai</strong>-UAE</span>
								<span class="location location6"><strong>Phuket</strong>-Thailand</span>
								<span class="location location7"><strong>Bangkok</strong>-Thailand</span>
								<span class="location location8"><strong>Zhengzhou</strong>-China</span>
							</div>
						  </div>
						</section>

						<!-- Our Team -->
						<section id="ten" class="spotlight">
							<div class="container">
								<h2 class="section-title">Nossa Equipe</h2>
								<div id="myCarousel" class="carousel slide" data-ride="carousel">

								  <!-- Indicators -->
								  <ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
								  </ol>

								  <!-- Slides -->
								  <div class="carousel-inner">
									<div class="carousel-item active">
									  <div class="row">
										<div class="col-md-6">
										  <img src="static/images/jennifer.png" alt="Jennifer Chen" class="d-block w-100 team">
										</div>
										<div class="col-md-6">
										  <div class="card-body">
											<h5 class="card-title">Jennifer Chen</h5>
											<p class="card-text">Socia</p>
											<p class="card-text">Jennifer é uma das maiores referências do mercado de conexões entre grandes empresas e investidores, nacional e internacionalmente. Proprietária da JC Capital, e uma das poucas mulheres atuantes no mercado de M&A, é consultora de negócios para o mercado de luxo. Formada pela Faculdade Lynn University, F.L. U.S.A. em Administração com foco em Moda.</p>
										  </div>
										</div>
									  </div>
									</div>
									<div class="carousel-item">
									  <div class="row">
										<div class="col-md-6">
										  <img src="static/images/christianne.png" alt="Christianne Leon" class="d-block w-100 team">
										</div>
										<div class="col-md-6">
										  <div class="card-body">
											<h5 class="card-title">Christianne Leon</h5>
											<p class="card-text">Jurídico</p>
											<p class="card-text">Conselheiro de administração formado pelo IBGC. Vice presidente jurídico da Abralog – Associação Brasileira de Logística e assessor jurídico da ABAD.</p>
										  </div>
										</div>
									  </div>
									</div>
									<div class="carousel-item">
									  <div class="row">
										<div class="col-md-6">
										  <img src="static/images/valeria.png" alt="Valeria Oropallo" class="d-block w-100 team">
										</div>
										<div class="col-md-6">
										  <div class="card-body">
											<h5 class="card-title">Valeria Oropallo</h5>
											<p class="card-text">Crédito e Expansão</p>
											<p class="card-text">Administradora de Empresas, Pós Graduada em Gestão de Pessoas, com MBA em Gestão de Negócios. Atua no mercado financeiro desde 1999, com passagem pelos principais bancos como HSBC, Unibanco, Itaú Unibanco e Santander. Atuou como assessora de investimentos e Head de Crédito da XP Investimentos. Experiência nos segmentos de Pessoa Física Alta Renda e Empresas Middle e Corporate.</p>
										  </div>
										</div>
									  </div>
									</div>
								  </div>

								  <!-- Navigation Arrows -->
								  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								  </a>
								  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								  </a>
								</div>
							  </div>
						</section>
					</section>


<!--				&lt;!&ndash; CTA &ndash;&gt;
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Activate</a></li>
								<li><a href="#" class="button fit">Saiba Mais</a></li>
							</ul>
						</div>
					</section>-->


				<!-- Google Maps -->
				<section id="eleven" class="spotlight">
					<div class="google-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.8924191913306!2d-46.6929228!3d-23.6081909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50cb10623f1b%3A0x3c1ee87d450ce8d6!2sImperial%20Berrini%20Offices%20-%20Rua%20Alcides%20Ricardini%20Neves%2C%2012%20-%20Sala%201010%20-%20Cidade%20Mon%C3%A7%C3%B5es%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004575-050%2C%20Brazil!5e0!3m2!1sen!2sus!4v1684641435231!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="contact-info">
						<div class="text-wrapper">
							<h2>Entre em contato</h2>
							<p><em>Endereço: </em>Rua Alcides Ricardini Neves, 12 Conjunto 1010 – CEP: 04575-050</p>
							<p><em>E-mail: </em>contato@jccapital.com.br</p>
							<p><em>Tel: </em>+55 (11) 5505-7771</p>
						</div>
					</div>

				</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Brand Concept</li><li>Design: <a href="http://html5up.net">Bryan Chen Pepe</a></li>
						</ul>
					</footer>

			</div>
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/jquery.carousel.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
		<!-- Include Bootstrap JS -->
	  		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>