<!DOCTYPE HTML>
<html>
	<head>
		<title>Brand Concept</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="static/images/favicon.ico">
		<!-- Include Bootstrap CSS -->
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Brand Concept</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="#banner">Home</a></li>
											<li><a href="#one">Nossa Missão</a></li>
											<li><a href="#two">Quem Somos</a></li>
											<li><a href="#three">O Que Fazemos</a></li>
											<li><a href="#four">Benefícios do Novo Conceito</a></li>
											<li><a href="#five">Propriedades de Marca no Mercado Imobiliário</a></li>
											<li><a href="#six">Residências de Marca no Setor Imobiliário</a></li>
											<li><a href="#seven">Projetos</a></li>
											<li><a href="#eight">Um Mercado em Crescimento</a></li>
											<li><a href="#nine">Projetos em Andamento</a></li>
											<li><a href="#ten">Nossa Equipe</a></li>
											<li><a href="#eleven">Entre em Contato</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<img src="static/images/logo.png" alt="Brand's Logo" width="30%">
<!--							<p>The New Concept of Lifestyle</p>-->
							<br>
						</div>
						<a href="#one" class="more scrolly">Saiba Mais</a>
					</section>

				<!-- Our Mission -->
					<section id="one" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Nossa Missão</h2>
								<h6>Arte de Diferenciar</h6>
								<br>
								<p>Brand Concept incorpora marcas icônicas de estilo de vida em projetos imobiliários. Nosso objetivo é criar uma história fascinante para o projeto e uma experiência empolgante para um novo conceito de estilo de vida</p>
								<p>Nosso portifólio oferece formatos residenciais e comercias de marcas de luxo para apartamentos, hotéis, resorts, vilas de luxo, complexos comerciais, co-living, spa e cidades inteligentes</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-lightbulb major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon solid fa-award major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon solid fa-earth-americas major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Who Are We -->
					<section id="two" class="wrapper style3">
						<section class="spotlight">
							<div class="image"><img src="static/images/pic01.jpg" alt="" /></div>
							<div class="content">
								<h2>Quem Somos</h2>
								<p>Na Brand Concept, acreditamos que a fusão de marcas icônicas e imóveis pode criar uma experiência de estilo de vida única. Nosso objetivo é criar histórias cativantes e conceitos inovadores que inspirem e encantem nossos clientes. Nosso portfólio oferece uma ampla variedade de formatos de residências e empreendimentos de luxo, incluindo apartamentos, hotéis, resorts, vilas, espaços de convivência colaborativa, spas e cidades inteligentes.</p>
							</div>
						</section>
					</section>

				<!-- Brand Properties in the Current Real Estate Market -->
				<!-- What We Do -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>O QUE FAZEMOS</h2>
								<p>Cada projeto imobiliário é um mundo diferente e requer um trabalho expecifico e personalizado para ser bem sucedido.</p>
							</header>
							<ul class="features">
								<li class="icon solid fa-edit">
									<h3>Consultoria de ajuste de Marca</h3>
									<p></p>
								</li>
								<li class="icon solid fa-cog">
									<h3>Verificão do conceito - projeto / constructor</h3>
									<p></p>
								</li>
								<li class="icon solid fa-eye">
									<h3>Correspondencia da visão da marca</h3>
									<p></p>
								</li>
								<li class="icon solid fa-gem">
									<h3>Acesso exclusivo a marcas e estilo de vida de luxo para novas  marcas imobiliárias</h3>
									<p></p>
								</li>
								<li class="icon fa-file-powerpoint">
									<h3>Preparação da apresentacão do projeto junto ao constructor e marcas</h3>
									<p></p>
								</li>
								<li class="icon solid fa-handshake">
									<h3>Negociações do contrato de licença</h3>
									<p></p>
								</li>
								<li class="icon solid fa-tasks">
									<h3>Apoio à execução do projeto</h3>
									<p></p>
								</li>
								<li class="icon solid fa-pencil-ruler">
									<h3>Consultoria em desenho do projeto</h3>
									<p></p>
								</li>
								<li class="icon solid fa-map-marker-alt">
									<h3>Análise de localização</h3>
									<p></p>
								</li>
								<li class="icon solid fa-money-bill-alt">
									<h3>Assessoria em financiamento de projetos</h3>
									<p></p>
								</li>
								<li class="icon solid fa-clipboard-check">
									<h3>Supervisão de projetos</h3>
									<p></p>
								</li>
								<li class="icon solid fa-bullhorn">
									<h3>Apoio de relações públicas de projetos</h3>
									<p></p>
								</li>
								<li class="icon solid fa-ad">
									<h3>Apoio de marketing de projetos</h3>
									<p></p>
								</li>
								<li class="icon fa-building">
									<h3>Desenvolvimento de projetos</h3>
									<p></p>
								</li>
							</ul>
						</div>
					</section>

					<!--What This New Concept Offers Section-->
					<section id="four" class="wrapper alt style3">
						<section class="spotlight">
							<section class="offers-section">
								<h2>O que este novo conceito oferece</h2>
								<ul>
									<li><i class="fas fa-bolt"></i> Velocidade nas Vendas</li>
									<li><i class="fas fa-money-bill-wave"></i> Economia em Publicidade</li>
									<li><i class="fas fa-award"></i> Reconhecimento do Projeto</li>
									<li><i class="fas fa-bullhorn"></i> Vantagem de Marketing Substancial</li>
									<li><i class="fas fa-hand-holding-usd"></i> Possibilidade de Economia de Taxa de Corretagem</li>
									<li><i class="fas fa-palette"></i> Acesso a Design de Marca Exclusivo</li>
									<li><i class="fas fa-chart-line"></i> Aumento Substancial no Valor das Vendas de até 120%</li>
									<li><i class="fas fa-laptop"></i> Acesso ao Mais Recente Conhecimento Tecnológico da Marca</li>
									<li><i class="fas fa-users"></i> Acesso aos Clientes da Marca (parte do contrato de licença)</li>
									<li><i class="fas fa-truck-moving"></i> Vantagem de Financiamento do Projeto por meio da Transferência de Confiança da Marca</li>
									<li><i class="fas fa-handshake"></i> Maior Interesse das Autoridades Locais em Propriedades da Marca (Aprovações de Projeto Mais Rápidas e Acesso a Terrenos)</li>
								</ul>
							</section>
						</section>
					</section>


					<section class="wrapper alt style2">
						<section id="five" class="spotlight">
							<div class="image"><img src="static/images/pic02.jpg" alt="" /></div>
							<div class="content">
								<h2>PROPRIEDADES DE MARCA NO MERCADO IMOBILIÁRIO ATUAL</h2>
								<p>O mercado imobiliário global mudou significativamente. Espaços de trabalho integrados e vivos. Isso cria uma oportunidade nunca antes vista para as marcas de luxo criando estilo de vida que esta encantando e entrando no mercado imobiliário gerando uma sincronicidade entre as marcas e os consumidores. Os consumidores estão preferindo ainda que por valores significativos propriedades de marca que valorizam design, sustentabilidade e qualidade. As Marcas, construtores e consumidores se beneficiam muito desse modelo de negócios bem-sucedido e em rápido crescimento</p>
							</div>
						</section>
						<section id="six" class="spotlight">
							<div class="image"><img src="static/images/pic03.jpg" alt="" /></div>
							<div class="content">
								<h2>As residências de marca, como setor imobiliário, provaram ser incrivel</h2>
								<p>
									O setor não apenas sobreviveu ao distúrbio, mas continua a prosperar. Nos últimos dez anos, o setor cresceu mais de 150% e o pipeline de futuras residências de marca continua forte com projetos futuros definidos para dobrar as ofertas de fornecimento atuais nos próximos 5 anos.
									<br>
									A distribuição global de residências de marca também continua a se expandir, com marcas procurando novos locais para aumentar seus portfólios.
								</p>
							</div>
						</section>


						<!-- Projects -->
						<section id="seven" class="spotlight">
							<div class="container">
							<h2 class="section-title">Projetos</h2>
								<div id="myCarousel2" class="carousel slide" data-ride="carousel">
								  <!-- Indicators -->
								  <ol class="carousel-indicators">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								    <li data-target="#myCarousel2" data-slide-to="3"></li>
								  	<li data-target="#myCarousel2" data-slide-to="4"></li>
								  </ol>

								  <!-- Slides -->
								  <div class="carousel-inner">
									<div class="carousel-item active">
									  <div class="row">
										  <div class="card-container">
											  <div class="card1">
												  <img src="static/images/diesel1.png" alt="Diesel 1" class="d-block img1">
												  <img src="static/images/diesel2.png" alt="Diesel 2" class="d-block img2">
												  <h5>DIESEL WYNWOOD</h5>
												  <img src="static/images/diesel3.png" alt="Diesel 3" class="d-block img3">
												</div>
										  </div>
									  </div>
									</div>
									<div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card2">
											  <h5>URBAN OASIS<br>BY MISSONI HOME</h5>
											  <img src="static/images/oasis1.png" alt="Oasis 1" class="d-block img1">
											  <img src="static/images/oasis2.png" alt="Oasis 2" class="d-block img2">
											  <img src="static/images/oasis3.png" alt="Oasis 3" class="d-block img3">
											</div>
									  </div>
									</div>
									</div>
								    <div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card3">
											  <img src="static/images/porsche2.png" alt="Porsche 2" class="d-block img2">
											  <img src="static/images/porsche1.jpeg" alt="Porsche 1" class="d-block img1">
											  <img src="static/images/porsche3.png" alt="Porsche 3" class="d-block img3">
											  <h5>PORSCHE DESIGN<br>TOWER MIAMI</h5>
											</div>
									  </div>
									</div>
									</div>
								    <div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card4">
											  <img src="static/images/bentley1.png" alt="Bentley 1" class="d-block img1">
											  <img src="static/images/bentley2.png" alt="Bentley 2" class="d-block img2">
											  <h5>BENTLEY RESIDENCES</h5>
											  <img src="static/images/bentley3.png" alt="Bentley 3" class="d-block img3">
											</div>
									  </div>
									</div>
									</div>
								  	<div class="carousel-item">
									<div class="row">
									  <div class="card-container">
										  <div class="card5">
											  <img src="static/images/fendi1.png" alt="Fendi 1" class="d-block img1">
											  <h5>FENDI CHATEAU RESIDENCES</h5>
											  <img src="static/images/fendi3.png" alt="Fendi 3" class="d-block img3">
											  <img src="static/images/fendi2.png" alt="Fendi 2" class="d-block img2">
											</div>
									  </div>
									</div>
									</div>
									<!-- Add more carousel-items as needed -->
								  </div>

								  <!-- Navigation Arrows -->
								  <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								  </a>
								  <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								  </a>
								</div>
							</div>
						</section>


						<!--Branded Property – A Growing Market-->
						<section id="eight" class="spotlight">
							<div class="container">
							<h2 class="section-title">Branded Property – Um Mercado Em Crescimento</h2>
							  <div class="row">
								<div class="column">
								  <img src="static/images/building1.png" alt="Image 1">
								  <img src="static/images/building2.png" alt="Image 2">
								</div>
								<div class="column">
								  <img src="static/images/building3.png" alt="Image 3">
								  <img src="static/images/building4.png" alt="Image 4">
								</div>
								<div class="column">
								  <img src="static/images/building5.png" alt="Image 5">
								  <img src="static/images/building6.png" alt="Image 6">
								</div>
							  </div>
							</div>
						</section>


						<!--Ongoing Projects-->
						<section id="nine" class="spotlight">
						  <div class="container ongoing-projects">
							<h2>Ongoing Projects</h2>
							<div class="map-container">
								<img src="static/images/world-map.png" alt="World Map">
								<span class="location location1"><strong>New York</strong>-USA</span>
								<span class="location location2"><strong>Miami</strong>-USA</span>
								<span class="location location3"><strong>Berlin</strong>-Germany</span>
								<span class="location location4"><strong>Riyadh</strong>-Saudi Arabia</span>
								<span class="location location5"><strong>Dubai</strong>-UAE</span>
								<span class="location location6"><strong>Phuket</strong>-Thailand</span>
								<span class="location location7"><strong>Bangkok</strong>-Thailand</span>
								<span class="location location8"><strong>Zhengzhou</strong>-China</span>
							</div>
						  </div>
						</section>

						<!-- Our Team -->
						<section id="ten" class="spotlight">
							<div class="container">
								<h2 class="section-title">Nossa Equipe</h2>
								<div id="myCarousel" class="carousel slide" data-ride="carousel">

								  <!-- Indicators -->
								  <ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
								  </ol>

								  <!-- Slides -->
								  <div class="carousel-inner">
									<div class="carousel-item active">
									  <div class="row">
										<div class="col-md-4">
										  <img src="static/images/christianne.png" alt="Christianne Leon" class="d-block w-100 team">
										</div>
										<div class="col-md-8">
										  <div class="card-body">
											<h4 class="card-title">Christianne Leon</h4>
											<h6 class="card-text">Sócia</h6>
										  	<p class="card-text"><br></p>
										  	<p class="card-text">A empreendedora Christianne Leon é o exemplo perfeito da Mulher Contemporânea. Descendente de uma família italiana, seu espírito inovador vem de seu avô, que foi pioneiro em trazer a roda-gigante para o Brasil.</p>
										  	<p class="card-text">Christianne traz todo o charme e talento da inovação com autenticidade e excelência únicas para cada projeto.</p>
										  	<p class="card-text">Como CEO com 20 anos de experiência na indústria imobiliária, ela foi premiada várias vezes como Top Produtora e na categoria Silver Circle pelas empresas de imóveis e construção mais prestigiadas dos Estados Unidos.</p>
										  	<p class="card-text">Christianne é fluente em português, seu idioma principal, além de inglês e espanhol.</p>
										  	<p class="card-text">No Instituto de Arte e Design de Nova York, ela descobriu sua paixão pelo Design de Interiores após passar uma parte considerável de sua carreira como consultora imobiliária, vendendo unidades de luxo projetadas por marcas reconhecidas mundialmente, decoradas por arquitetos e designers de interiores renomados.</p>
										 	<p class="card-text">A escolha da assinatura e do design de uma marca cria uma forma única de ver o mundo, criando um estilo de vida exclusivo. Chamamos isso de "o olhar da criação", e é isso que diferencia Christianne Leon no Conceito de Marca.</p>
										  </div>
										</div>
									  </div>
									</div>
									<div class="carousel-item">
									  <div class="row">
										<div class="col-md-4">
										  <img src="static/images/jennifer.png" alt="Jennifer Chen" class="d-block w-100 team">
										</div>
										<div class="col-md-8">
										  <div class="card-body">
											<h4 class="card-title">Jennifer Chen</h4>
											<h6 class="card-text">Sócia</h6>
											<p class="card-text">A carreira de Jennifer Chen no mercado de luxo abrange diversas marcas prestigiadas. Ela começou como modelo na indústria da moda, representada pela renomada Ford Models até os 21 anos de idade.</p>
											<p class="card-text">Mudando o foco para a esfera dos negócios, Jennifer se formou em Administração de Empresas, com especialização em Moda, pela Lynn University, na Flórida, EUA. Durante seus estudos, ela fez estágio na famosa loja Saks Fifth Avenue, adquirindo valiosa experiência na área.</p>
											<p class="card-text">Aproveitando sua expertise em marcas renomadas, Jennifer embarcou no caminho do empreendedorismo. Ela desenvolveu sua própria marca e estabeleceu uma loja no Shopping Cidade Jardim, um dos shoppings mais luxuosos do país. Ao mesmo tempo, ela prestou serviços de consultoria empresarial para a indústria da moda, colaborando com principais marcas nacionais e introduzindo grandes marcas internacionais no Brasil. Jennifer também promoveu a moda sustentável através da criação de uma loja de consignação de roupas de luxo.</p>
											<p class="card-text">As conquistas de Jennifer Chen se estenderam além da moda para o mercado imobiliário premium. Como sócia da D'Felix Real Estate Intelligence, uma empresa especializada em propriedades de alto padrão em São Paulo, ela se destacou na área.</p>
											<p class="card-text">O sucesso de Jennifer como empreendedora serial e sua excepcional habilidade de conectar empresas e investidores a levaram a fundar a JC Capital. A empresa atua nacional e internacionalmente, principalmente levantando fundos para setores como agronegócio, hotelaria, tecnologia e construção. A JC Capital oferece serviços de estruturação de projetos para empresas de construção e incorporadoras, além de colaborar com fundos de investimento imobiliário. Eles organizam eventos que promovem a conectividade entre investidores e empresas do setor.</p>
											<p class="card-text">Hoje, Jennifer Chen é reconhecida como uma das mulheres mais respeitadas no setor de intermediação de negócios. Sua vasta experiência e conquistas solidificaram sua reputação na indústria.</p>
										  </div>
										</div>
									  </div>
									</div>
									<div class="carousel-item">
									  <div class="row">
										<div class="col-md-4">
										  <img src="static/images/valeria.png" alt="Valeria Oropallo" class="d-block w-100 team">
										</div>
										<div class="col-md-8">
										  <div class="card-body">
											<h4 class="card-title">Valeria Oropallo</h4>
											<h6 class="card-text">Sócia</h6>
										  	<p class="card-text">A versatilidade nos negócios é a marca registrada de Valeria Oropallo. Enquanto muitos brasileiros ainda não aspiravam iniciar uma vida nos Estados Unidos, os pais de Valeria embarcaram na jornada em direção ao "sonho americano". Ela, por outro lado, nasceu no Brasil, mas em 1999 seguiu o mesmo caminho e começou a trabalhar no mercado imobiliário de luxo nos Estados Unidos. Por quase 10 anos, ela foi responsável por reformar e vender centenas de imóveis americanos em várias regiões do país.</p>
										  	<p class="card-text">Apaixonada por esportes, em 2010 ela fundou uma empresa que assumiu a organização dos eventos de corrida de obstáculos mais importantes, reunindo milhares de competidores e fãs. Ela também foi a grande visionária por trás da Miami Sports Magazine.</p>
										  	<p class="card-text">Valeria sempre se dedicou a causas sociais e promoveu inúmeras ações para instituições de caridade, o que a inspirou a fazer uma pausa em sua vida empresarial e dedicar-se ao trabalho social na Prefeitura de Miami Beach.</p>
										  	<p class="card-text">Com um senso de realização e entrando em uma nova fase, Valeria retoma sua atividade no mercado imobiliário de luxo em 2023 para proporcionar experiências imobiliárias notáveis e luxuosas aos clientes.</p>
										  	<p class="card-text">De 1999 a 2008, ela trabalhou no mercado imobiliário de luxo nos Estados Unidos e foi responsável por reformar e vender centenas de imóveis em várias regiões do país. Em 2010, ela assumiu a organização dos eventos de corrida de obstáculos mais importantes nos EUA. Ela foi a grande visionária por trás da Miami Sports Magazine. Nos últimos anos, Valeria se dedicou ao trabalho social na Prefeitura de Miami. Agora, ela retornou ao mercado imobiliário de luxo para proporcionar experiências imobiliárias notáveis e luxuosas aos clientes.</p>
										  	<p class="card-text">Nos últimos anos, Valeria se dedicou ao trabalho social na Prefeitura de Miami. Agora, ela retornou ao mercado imobiliário de luxo para proporcionar experiências imobiliárias notáveis e luxuosas aos clientes.</p>
										  </div>
										</div>
									  </div>
									</div>
								  </div>

								  <!-- Navigation Arrows -->
								  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								  </a>
								  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								  </a>
								</div>
							  </div>
						</section>
					</section>


<!--				&lt;!&ndash; CTA &ndash;&gt;
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Activate</a></li>
								<li><a href="#" class="button fit">Saiba Mais</a></li>
							</ul>
						</div>
					</section>-->


				<!-- Google Maps -->
				<section id="eleven" class="spotlight">
					<div class="google-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.934294857707!2d-80.34719559999999!3d25.607099499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9c41445920073%3A0x1b19d098dcc14688!2s9555%20SW%20175th%20Terrace%2C%20Palmetto%20Bay%2C%20FL%2033157!5e0!3m2!1sen!2sus!4v1684707389773!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="contact-info">
						<div class="text-wrapper">
							<h2>Entre em contato</h2>
							<p>
								<em>Endereço: </em>9555 SW 175th Terrace, Palmetto Bay, FL 33157, U.S.
								<br>
								<em>E-mail: </em>contact@brandconcept.com
							</p>

							<p>
								<em>Christianne</em>
								<br>
								<em>Tel: </em>+1 (305) 776-6222
							</p>

							<p>
								<em>Jennifer</em>
								<br>
								<em>Tel: </em>+55 (11) 96900-2205
							</p>

							<p>
								<em>Valeria</em>
								<br>
								<em>Tel: </em>+1 (786) 337-1776
							</p>
						</div>
					</div>

				</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Brand Concept</li><li>Design: <a href="https://www.instagram.com/bryanpepe1/">Bryan Chen Pepe</a></li>
						</ul>
					</footer>

			</div>
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/jquery.carousel.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
		<!-- Include Bootstrap JS -->
	  		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>